
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;600&display=swap');

:root{
  --main-color:#be9c79;
  --black:#333;
  --white:#fff;
  --light-color:#666;
  --border:.2rem solid var(--black);
  --box-shadow:0  .5rem 1rem rgba(0, 0, 0, .1);
}

*{
  font-family: 'Nunito',sans-serif;
  margin: 0;padding: 0;
  box-sizing: border-box;
  outline:none;border:none;
  text-decoration: none;
  text-transform: capitalize;
}

*::selection{
  background-color: var(--main-color);
  color:var(--white);
}

::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(155, 103, 5);
  border-radius: 30px;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top:6rem;

}


section{
  padding:3rem 2rem;
  max-width: 1200px;
  margin:0 auto;
}

.heading{
  text-align: center;
  margin-bottom: 3rem;
}

.heading img{
  height: 4rem;
}

.heading h3{
  font-size: 4rem;
  color:  var(--black);
  font-family: 'Merienda one',cursive;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background-color: black;
  padding: 1rem 3rem;
  color: #FFD700;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 4px;
}

.btn:hover{
  background-color: #FFD700;
  color:black;
  transition: 0.2s linear;
}


.header{
position: sticky;
top: 0; left: 0; right:0;
background-color: #212121;
box-shadow: var(--box-shadow);
z-index:1000;
}

.header .flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 1.5rem 2rem;
}


.header .flex h2{
  color:white;
  font-size:24px;
  font-weight: 800;
}

.header .flex .navbar a{
  margin-left:5rem;
  font-size: 1.5rem;
  color: orange;
  display:inline-block;
}
.header .flex .navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color:rgb(234, 152, 0);
    display:block;
    transition: 0.2s linear;
}
.header .flex .navbar a:hover{
    color:rgb(234, 152, 0) ;
}
.header .flex .navbar a:hover::after{
    width: 100%;
}

.nav-link.active{
  border-bottom: 2px solid orange;
  font-weight: bolder;
}

#menu-btn{
  display: none;
  font-size: 2.5rem;
  color: orange;
  cursor: pointer;
}


.home-bgn{
  background:url("imgs/red-bg.jpg")
  no-repeat;
  background-size: cover;
  background-position: center;
}

.home-bgn .home{
  min-height: 70rem;
  display: flex;
  flex-wrap:wrap;
  gap: 3rem;
  align-items: center;
}
.home-bgn .home  .content{
  width: 50rem;
  text-align: center;
  color: black;
  margin-left: 3rem;
  flex: 1 1 40rem;
}

.content-img{
  flex:1 1 40rem;
}
.content-img .c-img{
  width: 400px;
}
.home-bgn .home  .content h1{
  font-size: 6.5rem;
  color:rgb(34, 29, 29);
  font-family: 'Merienda One' ,cursive;
  font-weight: bolder;
  color:#FFD700;
}

.home-bgn .home  .content p{
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #F8E8A2;
  line-height: 1.5em;
  font-weight: 600;
}

.about{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:4rem;
  margin-top: 5rem;
}

.about .image{
  flex: 1 1 40rem;
}

.about .image img{
  width: 100%;
  border-radius: 100%;
}

.about .content{
  flex:1 1 60rem;
  
}


.about .content h2{
  font-size: 3.5rem;
  color: orange;
    font-family: 'Merienda One',cursive;
    padding-bottom: 1rem;
}

.content h3{
  font-size: 18px;
  color: #FFDD99;
}
.about .content p{
  padding: 1rem 0;
  line-height: 2;
  color: #7c7c7c;
  font-size: 1.5rem;
}

section h2{
    font-size: 40px;
    color: orange;
    font-family: 'MeriendaOne',cursive;
     padding-bottom: 1rem;
    font-weight: bolder;
    text-decoration: none;

}


/*FOODS*/
.menu .box-container{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,50rem);
  gap:5rem;
  align-items:flex-start;
  justify-content: center;
}

.menu .box-container .box{
  padding-bottom: 3rem;
  border-radius: 40px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap:1.5rem;
  margin-bottom:0rem ;
}
.box-txt h3{
  font-size:32px;
  color:black ;
}

/*image container*/
.box-container .box .box-img{
  flex:1 1 40rem;
  margin: 20px 0px 0px 20px;
}

.box-container .box .box-txt{

margin: 20px 0px 0px 20px;
flex: 1 1 40rem;
}


.box-container .box .box-txt-1{
  margin: 20px 0px 0px 20px;
  flex: 1 1 40rem;
  }
/*image itself*/
.menu .box-container img{
  width: 90%;
  border-radius: 100%;
}

.menu .box-container .box h3 {
  font-size: 24px;
  color: Black;
  text-align:left;
  margin-bottom:2rem ;
}
.menu .box-container .box p{
    color: #7c7c7c ;
    font-size: 16px;
}

.container {
  width: 80%;
  margin: 15rem auto;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}
.tbl-header h3 {
  
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  color: #333;
  font-size: 24px;
  margin: 0;
  
}.tbl {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}
.tbl th, .tbl td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
.tbl th {
  background-color:rgb(199, 131, 3);
  color: white;
  font-size: 24px;
}

.tbl td{
  font-size: 14px;
}


.footer .box-container{
  display: grid;
  grid-template-columns:repeat(auto-fit,20rem);
  gap:2rem;
  justify-content: center;
}

.footer .box-container .box{
  text-align: center;
  margin-bottom: 5rem;

}
.footer .box-container .box i{
  font-size: 2rem;
  border-radius: 50%;
  line-height: 6rem;
  height: 6rem;
  width:6rem;
  background-color:orange;
  margin-top: 3rem;
  margin-bottom:1rem;
  color: white;
}

.footer .box-container .box h3{
  font-size: 2rem;
  margin-bottom:1rem;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light);
}


.footer .credit{
  text-align: center;
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: var(--border);
  font-size: 2rem;
  color: var(--black);
}

.footer .credit span{
  color: var(--main-color)
}





















@media (max-width:991px){

    html{
      font-size: 55%;
    }

}


@media (max-width:769px){
#menu-btn{
    display: inline-block;
    transition: .2s linear;
  }
  #menu-btn.fa-times{
    transform: rotate(180deg);
  }

  .header .flex .navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    font-size: 2rem;
    /*background: linear-gradient(90deg, var(--white),transparent 20%);*/
    border-top:black;
    border-bottom:black;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
    transition: .3s linear;
    background-color: rgb(31, 31, 31);
  }

  .header .flex .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }


  #menu-btn{
    display: flex;
    transition: .2s linear;
    color: white;
    padding-top:0px;
    padding-bottom: 1rem;
  }
    .header .flex .navbar a{
      display: block;
      margin: 2rem;
      color:white;
      font-family: 'Nunito',sans-serif;
      font-size: 1.5rem;
    }

    .home-bgn{
      background-position: left;
    }

    .home-bgn .home{
      justify-content: center;
    }
  .home-bgn .home .content h3{
    font-size: 4rem;
  }
.c-img{
  display:none ;
}
  .about{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.about .content h3{
  font-size: 3rem;
}

}




@media (max-width:450px){
  .home-bgn{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

    html{
      font-size: 50%;
    }

    
  #menu-btn{
    display: flex;
    transition: .2s linear;
    color: white;
    padding-top:0px;
    padding-bottom: 1rem;
  }
.heading h3{
  font-size: 2.5rem;
}

.menu .box-container .box{
  max-width: 400px;
}

.menu .box-container .box h3 {
  font-size: 22px;
  color: Black;
  text-align:left;
  margin-bottom:1rem ;
}


.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer .box-container .box{
  text-align: center;
  width: 400px;
  padding:2px;
}
}




  @media (max-width:414px){
    .home-bgn{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home-bgn .home .content h1{
    font-size: rem;
  }

  #menu-btn{
      display: flex;
      transition: .2s linear;
      color: white;
      padding-top:0px;
      padding-bottom: 1rem;
    }
    #menu-btn.fa-times{
      transform: rotate(270deg);
    }

    .header .flex .navbar{
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      font-size: 2rem;
      
      border-top:var(--border);
      border-bottom:var(--border);
      clip-path: polygon(0 0,100% 0,100% 0,0 0);
      transition: .3s linear;
      background-color: #212121;
    }

    .header .flex .navbar.active{
      clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }


      .header .flex .navbar a{
        display: block;
        margin: 2rem;
        color: var(--white);
        font-family: 'Nunito',sans-serif;
        font-size: 1.5rem;
      }

      .home-bgn{
        background-position: center;
      }

    .home-bgn .home{
   justify-content: center;
      }
   .home-bgn .home .content{
     margin-top: 6rem;
     margin-left: 0;
   }
    .home-bgn .home .content h3{
      font-size: 6rem;
    }
 .home .content-img img{
  width: 70%;
  
}
.about .image img{
  display: none;
}
  .about .content h3{
    font-size: 3rem;
  }


  .menu .box{
     width: 90%;
     justify-content: center;
     margin: 20px auto;
  }

  
.container {
  width: 100%;
  margin: 15rem auto;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}


.tbl-header h3 {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
}

.tbl th {
  background-color:rgb(199, 131, 3);
  color: white;
  font-size: 18px;
}

.tbl td{
  font-size: 12px;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer .box-container .box{
  text-align: center;
  width: 400px;
  padding:2px;
}

  }
